* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* BASE */
html {
    --background-screen: rgb(243, 243, 243);
    --background-login: rgb(255, 255, 255);
    --border: rgb(219, 219, 219);
    --button:  rgb(0, 149, 246);
    --text-button: rgb(255, 255, 255);
    --text:  rgb(160, 160, 160);

    /* 1rem = 10px */
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

/* PHONE-AREA */
.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 70rem;
}

/* CONTINUE-AREA */
.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 40rem;
}

.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--background-login);
    width: 100%;
    padding: 2rem 0;
    border: 1px solid var(--border);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.group:nth-child(1) {
    min-height: 30rem;
}

.instagram-logo {
    height: 4rem;
}

.profile-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 8rem;
    width: 8rem;
}

.instagram-login {
    background-color: var(--button);
    color: var(--background-login);
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: var(--button);
    font-size: 1.4rem;
}

.not-account {
    color: var(--text);
}

.link-blue {
    color: var(--button);
}

.get-the-app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.4rem;
    padding: 1.8rem 0;
}

.download {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.6rem;
    width: 100%;
    min-width: 35rem;
}

.app-download {
    height: 4.2rem;
    width: 14rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 2rem;
}

footer a {
    margin-right: 1rem;
    font-size: 1.7rem;
    color: var(--button);
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
    .instagram-wrapper{
        width: 90%;
    }

    .download {
        min-width: 32rem;
    }
}

@media (max-width: 700px) {
    body {
        background-color: var(--background-login);
    }

    .instagram-wrapper{
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }

    .download {
        max-width: 43rem;
    }
}